* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #2e2e33;
    color:white;
}

.main {
    text-align: center;
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    justify-content: center; /* Center the grid items horizontally */
    align-items: center; /* Center the grid items vertically */
    background-color: #2e2e33;
    color: white;
    width: 100%;
}



.h1{
    text-align: center;
}

.players {
    color: white;
    font-weight: normal;
    text-align: center;
    margin-right: 830px;
    margin-left: auto;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center; /* Add this property to horizontally center the section */
}

.players.hovered {
    /* Specify the styles for the hover effect */
    background-color: #3e4044;
    /* Add other styles as needed */
}


.image-button{
    border-radius: 2px;
    width:105px;
    margin-right: 655px;
    margin-left: auto;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center; /* Add this property to horizontally center the section */
    vertical-align: middle;
    outline: none; /* Remove the outline */
    border: 0; /* Remove the border */
    cursor: pointer;
}

.image-button:hover {
    /*box-shadow: 1px 1px 1px #a49c5a;; /* Add box-shadow to create an offset outline */
    /*box-shadow: 1px 1px 2px 1px rgba(114, 107, 72, 0.69);*/
}

.image-button > img {
    width: 18px;
    height: 18px;
    margin-bottom: 3px;
}

.image-button > p {
    margin-left: 5px; /* Add a small left margin for spacing */
    display: inline-block; /* Display as inline-block */
    vertical-align: middle; /* Align the text vertically in the middle */
    line-height: 18px; /* Set the line-height equal to the height of the image */
}




.header {
    margin-top: 20px;
    align-self: center;
    align-content: center;
    width: 100%;
    background-color: #2e2e33;
}
.headLogo {
    display: flex; /* Add display flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #2e2e33;
    height: 200px;
}

.headLogo > img {
    max-height: 100%; /* Adjust the height to maintain aspect ratio */
    max-width: 100%; /* Adjust the width to maintain aspect ratio */
}


.player {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: 'player-info summoner-icon';
    position: relative;
    height: 180px;
    width: 450px;
    background-color: #3e4044;
    margin: 10px;
}

.player.even {
    justify-self: start; /* Align even-indexed .player to the start of the cell */
}

.player.odd {
    justify-self: end; /* Align odd-indexed .player to the end of the cell */
}





.player-info > p {
    background-color:#3e4044;
    font-weight: bold;
    margin-left: 15px;
    font-size: 14px;
    margin-top:6px;
    margin-bottom: 5px;
}

.player-info {
    text-align: left;
    background-color: #3e4044;
    position: relative;
    padding: 5px;
}

.player-info > h2 {
    color: #e1d781;
    background-color: #3e4044;
    margin-top: 10px;
    margin-left: 15px;
    width:200px;
    margin-bottom: 0; /* Remove the bottom margin */
}

.player-info > .summoner-icon {
    position: absolute;
    top: 50%;
    right: -90px; /* Adjust the right value for horizontal positioning */
    transform: translateY(-50%);
    width: 150px; /* Adjust the width for the desired icon size */
    height: 150px; /* Adjust the height for the desired icon size */
}

.rank{
    color:#e1d781;
}